.header {
    position: fixed;
    height: 75px;
    width: 100%;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;

    &__left {

    }
    &__title {
        display: none;
    }
    &__logo {
        height: 45px;
    }
}